
section {
    width: 100%;
    height: 500px;
    }

.wave {
    position: relative;
    background: linear-gradient(90deg, #6c2fc8, #3d57c8);    
}
.wave::before{
    content: ""; 
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 268px;
    background-image: url("../../assets/wave.png");
    background-size: cover;
    background-repeat: no-repeat;   
}

.card {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.displaying-accounts {
    display: flex;    
    padding : 20px;
    margin : 0px 16px 0px 16px;
    cursor: pointer;   
}

.displaying-profile-name{
    margin-left: 16px;
}
.displaying-profile-picture{
    margin-left: 16px
}
.loading{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}